@import "tailwindcss";

@layer base {
  :root {
    --background: #03071e;
    --foreground: #f0e8d8;
    --ink-black: #03071eff;
    --night-bordeaux: #370617ff;
    --black-cherry: #6a040fff;
    --oxblood: #9d0208ff;
    --brick-ember: #d00000ff;
    --red-ochre: #dc2f02ff;
    --cayenne-red: #e85d04ff;
    --deep-saffron: #f48c06ff;
    --orange: #faa307ff;
    --amber-flame: #ffba08ff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "DM Mono", monospace;
  margin: 0;
  padding: 0;
}
